@import url('https://fonts.googleapis.com/css2?family=Rubik&display=swap');

body {
  margin: 0;
  background: #ffffff;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: 'Rubik', sans-serif;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

:root {
  --bg:  #b0f69e;
  --bg-transparent:#b0f69e70;
  --bg-accent: #cacf98;
  --text-color: #000000;
  --nav-size: 75px;
  --border: 1px solid #2d3135;
  --border-radius: 8px;
  --speed: 500ms; 
}

body::-webkit-scrollbar {
  width: 0.5rem;
}
body::-webkit-scrollbar-track {
  background: white;
  border-radius: 20px;
}
body::-webkit-scrollbar-thumb {
  background: var(--bg);
  border-radius: 20px;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

a {
  color: var(--text-color);
  text-decoration: none;;
}

/* Top Navigation Bar */

/* <nav> */
.navbar {
  height: var(--nav-size);
  background-color: var(--bg);
  padding: 0 1rem;
}

/* <ul> */
.navbar-nav {
  max-width: 100%;
  height: 100%;
  display: flex;
  justify-content: flex-end;
}

/* <li> */
.nav-item {
  width: calc(var(--nav-size) * 0.8);
  display: flex;
  align-items: center;
  justify-content: center;
}

/* Icon Button */
.icon-button {
  --button-size: calc(var(--nav-size) * 0.5);
  width: var(--button-size);
  height: var(--button-size);
  background-color: #ffffff;
  border-radius: 50%;
  padding: 5px;
  margin: 2px;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: filter 300ms;
}

.icon-button:hover {
  filter: brightness(1.2);
}

.icon-button svg { 
  fill: var(--bg);
  width: 20px;
  height: 20px;
}

/* Dropdown Menu */

.dropdown {
  position: absolute;
  top: 75px;
  width: 300px;
  transform: translateX(-45%);
  background-color: var(--bg-transparent);
  border-bottom-right-radius: var(--border-radius);
  border-bottom-left-radius: var(--border-radius);
  padding: 1rem;
  overflow: hidden;
  transition: height var(--speed) ease;
  z-index: 5;
  text-align: center;
}

.menu {
  width: 100%;
}

.menu-item {
  height: 50px;
  display: flex;
  align-items: center;
  border-radius: var(--border-radius);
  transition: background var(--speed);
  padding: 0.5rem;
}

.menu-item .icon-button {
  margin-right: 0.5rem;
}


.menu-item .icon-button:hover {
  filter: none;
}

.menu-item:hover {
  background-color: #b0f69ed0;
}

.icon-right {
  margin-left: auto;
}

.plan-trip-button {
  /* background-color: var(--bg); */
  border-radius: var(--border-radius);
  font-family: 'Rubik', sans-serif;
  border: none;
  height: 40px;
  /* box-shadow: 2px 2px 4px 2px #888888; */
  text-align: center;
  padding: 10px;
  width: 40%;
  transition: all 0.5s;
  cursor: pointer;
  line-height: 0.8;
  margin-top: 6px;
}

.plan-trip-button span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}

.plan-trip-button span:after {
  content: '\00bb';
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
}

.plan-trip-button:hover span {
  padding-right: 25px;
}

.plan-trip-button:hover span:after {
  opacity: 1;
  right: 0;
}

/* CSSTransition classes  */
.menu-primary-enter {
  position: absolute;
  transform: translateX(-110%);
}
.menu-primary-enter-active {
  transform: translateX(0%);
  transition: all var(--speed) ease;
}
.menu-primary-exit {
  position: absolute;
}
.menu-primary-exit-active {
  transform: translateX(-110%);
  transition: all var(--speed) ease;
}


.menu-secondary-enter {
  transform: translateX(110%);
}
.menu-secondary-enter-active {
  transform: translateX(0%);
  transition: all var(--speed) ease;
}
.menu-secondary-exit {

}
.menu-secondary-exit-active {
  transform: translateX(110%);
  transition: all var(--speed) ease;
}

.search-location-input {
  display: flex;
  width: 100%;
  border-radius: var(--border-radius);
  border: 1px solid #d8d8d8;
  margin-top:0.3rem;
  margin-bottom:0.3rem;
}

.search-location-input:focus-within {
  background-color: white;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
  border-color: rgba(223,225,229,0);
  box-shadow: 0 1px 6px 0 rgba(32,33,36,0.28);
}

.search-location-input:hover {
  box-shadow: 0 1px 6px 0 rgba(32,33,36,0.28);
  border-color: rgba(223,225,229,0);
}

.search-location-input input {
  height: 32px;
  width: 100%;
  padding: 8px 12px;
  border: none;
  font-size: 16px;
  border-radius: var(--border-radius);
}

.search-location-input input:focus {
  outline: none;
}
