.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

#showOverlayButton {
  margin-top: 4%;
  background-color: #5bad0a;
}
#showOverlayButtonHidden {
  margin-top: 4%;
  background-color: #5bad0a;
  visibility: hidden;
}

#hideOverlayButton {
  float: right;
}
#backArrowIcon {
  color: #8FD14F;
}
.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

#leftOverlay {
  position: absolute;
  display: block;
  /* visibility: hidden; */
  top: 0px;
  width: 25%;
  height: 90%;
  margin-top: 4%;
  background-color: rgba(230, 230, 230, .7);
}
#hiddenLeftOverlay {
  position: absolute;
  display: block;
  visibility: hidden;
  top: 0px;
  width: 25%;
  height: 90%;
  margin-top: 4%;
  background-color: rgba(230, 230, 230, .7);
}


.opaque-text{
  position: absolute;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  text-align: center;
  top: 0px;
  width: 100%;
  height: 100%;
  opacity: 1;
  background: transparent;
  font-size: 32px;
  font-weight: 600;
}
.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
